div
{
	border:solid;
}
.a
{
	width:500px;
	height:380px;
	margin:auto;
}
.b
{
	width:400px;
	height:50px;
	margin-left:30px;
	margin-top: 30px;
}
.c
{
	width:400px;
	height:50px;
	margin-left:30px;
	margin-top: 50px;
}
.d
{
	width:400px;
	height:50px;
	margin-left:30px;
	margin-top: 50px;
}
.button
{
	width: 400px;
	height:50px;
	background-color:white;
}