div
{
	border:solid;
}

.a
{
	width: 500px;
	height: 400px;
	float: left;
}
.a2
{
	width: 500px;
	height: 500px;
	margin-left: 10px;
	float: left;
}
.b
{
	width:400px;
	height:50px;
	margin-left:30px;
	margin-top: 10px;
}
.c
{
	width:400px;
	height:50px;
	margin-left:30px;
	margin-top:10px;
}

.d
{
	width:400px;
	height:50px;
	margin-left:30px;
	margin-top:10px;
}

.e
{
	width:400px;
	height:50px;
	margin-left:30px;
	margin-top: 10px;
}
.f
{
	width:400px;
	height:50px;
	margin-left:30px;
	margin-top: 10px;
}

.g
{
	width:400px;
	height:50px;
	margin-left:30px;
	margin-top: 10px;
}
.button
{
	width: 400px;
	height:50px;
	background-color:white;
}